html {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

body { 
    padding: 1rem; 
}

ul {
    list-style-type: none;
  }
  

.card {
    padding: 0.25rem;
    position: relative;
}

.card img {
    width: 100%;
}

.cards {
    max-width: 1500px;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

/* Container holding the image and the text */
.container {
    position: relative;
}
  
/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white;
    padding: 0.5rem;
} 

