

/*stylesheet for Zach's HTM(A)A class page. thanks Aubrey for the starting point!*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5A2CA0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 5px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.mainnav {
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 5;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

 /* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
} 

.col-1 {width: 25%}
.col-2 {width: 50%}
.col-3 {width: 75%}
.col-4 {width: 100%}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row img {
  margin-top: 8px;
  vertical-align: middle;
  width: 25%;
  max-width: 100%;
}

/*
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
*/

a:link {color: #8D5FD3;}

a:visited {color: #8D5FD3;}

.text-block a:link {color:#FFFFFF}

.text-block a:visited {color:#FFFFFF}

th {
    text-align: left;
}
